* {
	box-sizing: border-box;
	font-family: "Arial";
}
.top-logo {
   text-align:center;
   height:87px;
   padding: 16px 0 0 16px;
}
.top-logo a{
	display: inline-block;
	opacity: 0.85;
	/*transition: all .4s ease;*/

}
.top-logo a:hover{
	opacity:1;
} 

.menu-block{
	background-color: #6b9ad0;
	height: 58px;
	border-bottom: 4px solid #c6defa;
	margin-bottom: 16px;	
}

.menu-block menu{
	text-align: center;
	font-size: 0;
	padding: 0;
}

.menu-block menu li{
	display: inline-block;	
	line-height: 54px;
	font-size: 14px;
	height: 54px;
	color: white;	
	position: relative;
}

.menu-block menu li.active:before{
	content:'';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 13px 13px 0 13px;
	border-color: #c6defa  transparent transparent transparent;
	position: absolute;
    display: block;
    bottom: -13px;
	left: 50%;
	margin-left: -13px;

}
.menu-block menu li.active:after{
	content:'';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 9px 9px 0 9px;
	border-color: #6b9ad0 transparent transparent transparent;
	position: absolute;
    display: block;
    bottom: -7px;
    left: 50%;
    margin-left: -9px;
}

.menu-block menu a{
	display: block;
	color:inherit;
	height: 100%;
	text-decoration: none;
	text-transform: uppercase;
	padding: 0 20px;
}

.menu-block menu a:hover{
	background: rgba(255,255,255, 0.2);
}

.menu-block menu li.active:hover:after {
	border-top-color: #79a3d3;
}

.menu-block .small-logo{
	display: none;
	position: absolute;
	list-style: none;
	right:84%;	
}

.menu-block .full-size-logo{
	display: none;
}

.menu-block .small-logo a{
	padding: 0;	
}

.menu-block .small-logo a:hover{
	background: inherit;
}

.menu-block .small-logo img {	
	height: 43px;
	margin: 5px 0;	
	
}

.clear {
	clear: both;
}
.clear:after,
.clear:before {
	display: table;
	content: '';
}

main{
	width:960px;
	margin: 50px auto 0 auto;
}

main aside{
	width: 33%;
	float:right;
}

main section{
	width: 66%;
	float:left;
}

article {
	margin-bottom: 27px;
}

article .img {
	display: block;
	width: 100%
	opacity: .85;
	/*transition: all .4s ease;*/
}
article .img:hover {
	opacity: 1;
}
article .img img {
	display: block;
	width: 100%;
}

article h3{
	font-size: 19;
	color:#69747c;
	margin: 10px 0 8px;
}

article h3:hover{
	text-decoration: underline;
	cursor: pointer;
}
article .article-info{

	border-top: 1px solid #e2e5e8;
	border-bottom: 1px solid #e2e5e8;
	height: 40px;
}
article .article-info-date,
article .article-info-author {
	height: 38px;
	line-height: 38px;
	color: #69747c;
	float: left;
	margin-right: 20px;
	font-size: 13px;
}

article .article-info-author:hover{
	text-decoration: underline;
	cursor: pointer;
}

article .fa{
	padding:0 7px 0 7px;
	font-size: inherit;
}

article .article-info-social{
	float:right;
	margin:7px 0 0px;
}


article .article-info-social li{
	display: inline-block;
	background: #69747c;
	border-radius: 4px;
	height:24px;
	color:white;
	text-decoration: none;
	line-height: 24px;
	padding-right: 6px;
	opacity: 0.45;
	/*transition: all .4s ease;*/

}
article .article-info-social li:hover{
	opacity: 1;
}

article .article-info-social li:first-child:hover {
		background: #3c5a98;
}
article .article-info-social li:nth-child(2):hover {
	background: #c25234;
}
article .article-info-social li:nth-child(3):hover {
	background: #00aced;
}
article .article-info-social li:nth-child(4):hover {
	background: #48729e;
}
article .article-info-social li:last-child:hover {
	background: #3f729b;
}

article .article-info-social a{
	text-decoration: none;
	color: inherit;
}

article p{
	color: #69747c;
    font-size: 13px;
    line-height: 18px;
}

aside h3{
	padding: 0px;
	margin: 0px;
	padding-left: 43px;
	border-bottom: 5px solid #6b9ad0;
	color: #6b9ad0;
	font-size: 17px;
	text-transform: uppercase; 
	position: relative;

}

aside h3:before{
	content:'?';
	background: #6b9ad0;
	display:inline-block;
	height:25px;
	width:30px;
	color:white;
	top:-1px;
	left:0;
	text-align: center;
	line-height: 25px;
	font-size: 17px;
	position: absolute;
}

aside h3.alert:before{
	content:'!';
}

aside p{
	text-align: justify;
	color:#69747c;
	font-size: 13px;
	line-height: 19px;

}
.tag-cloud-wrapper .tag-cloud-logo{
	display: none;
}
.tag-cloud {
	margin: 0;
	padding: 0;
}


.tag-cloud li{
	display:inline-block;
	background: #6b9ad0;
	position: relative;
	font-size: 12px;
	line-height: 18px;
	color:white;	
	height:18px;
	padding: 0 20px 0 14px;
	margin: 0 8px 6px 0;
	opacity: 0.86;
	/*transition: all .4s ease;*/

}

.tag-cloud li:hover{
	background: #b2d4ec;
	opacity: 1;
}

.tag-cloud li a{
	color: inherit;
	text-decoration: none;
}

.tag-cloud li:after{
	content:'';
	position: absolute;
	right: 0;
	top: 50%;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #fff;
	margin-top: -4px;
}

.tag-cloud li:before{
	content:'';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 9px 0 9px 9px;
	border-color: transparent transparent transparent #6b9ad0;
	position: absolute;
	right:-9px;
	/*transition: all .4s ease;*/
	
}

.tag-cloud li:hover:before{
	border-left-color: #b2d4ec; 

}

.fixed .menu-block {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 100;
	-webkit-box-shadow: 0px -4px 30px 8px rgba(50, 50, 50, 0.27);
    -moz-box-shadow:    0px -4px 30px 8px rgba(50, 50, 50, 0.27);
    box-shadow:         0px -4px 30px 8px rgba(50, 50, 50, 0.27);
}

.fixed .top-logo {
	padding-bottom: 131px;
}














/*===================TABLET===============*/


@media only screen and (max-width: 959px){
    main section, main aside {
    	float: none; 
    	width: 100%;
    }

	main {
		width: 100%;
		margin-top:25px;
	}

	main aside {
		padding: 0 60px;
	}

	aside  h3.quest,
	aside  h3.alert{
		position: absolute;
		border: none;		
        cursor: pointer;
        top:88px;
        left:1px;
	}
	aside  h3.alert	 {
		right:-1px;
		left:auto;
	}

	aside  h3.quest span,
	aside  h3.alert span{
		display: none;
		transform: rotate(-90deg);
		position:absolute; 
		background: #eef4fa;	
		font-size: 17px;
	    height: 43px;
        line-height: 43px;
	    padding: 0 18px;	
		left: -28px;
		top: 83px;
	}
	aside  h3.alert span{
		top:100px;
		right:-44px;
		left:auto;
		white-space: nowrap;
	}

	aside h3.alert span:before,
	aside h3.quest span:before{
		content:'';
		position: absolute;
		display: block;    
		width: 0;
        height: 0;
        border-style: solid;
        border-width: 13px 13px 13px 0;
        border-color: transparent #c6defa transparent transparent;
	    bottom: 9px;
	    right: -3px;
	    margin-left: -13px;

	}

	aside h3.alert span:after,
	aside h3.quest span:after{
		content:'';
		position: absolute;
		display: block;    
		width: 0;
        height: 0;
        border-style: solid;
        border-width: 9px 9px 9px 0;
        border-color: transparent #8fb2db transparent transparent;
	    bottom: 13px;
	    right: -5px;
	    margin-left: -13px;
	   /* transition: border .4s ease;*/

	}

	aside h3.alert:hover span:after,
	aside h3.quest:hover span:after{
		border-color: transparent #adc7e4 transparent transparent;

	}

	aside h3.quest:before,
	aside h3.alert:before {
		height: 54px;
        width: 42px;
		font-size: 17px;
		line-height: 58px;
		color: #6b9ad0;
		background: rgba(255,255,255,0.25);
		/*transition: all .4s ease;*/
	}
	aside h3:hover:before {
		background: rgba(255,255,255,0.45);
	}

	aside .about-some-shit p {
		display: none;
	}

	aside .tag-cloud-wrapper{
		margin: 34px auto;
	}

	article {
		position: relative;
		padding: 0 76px;
	}

	article .article-info-social{
		position: absolute;
		right: 0;
		top: 0;
		margin: 0;
		width: 100px;
		text-align: right;
    }

	article .article-info-social li {
		display: inline-block;
		margin-right: 0;
		margin-bottom: 8px;
		opacity: 1;
	}

article .article-info-social li:first-child {
		background: #3c5a98;
}
article .article-info-social li:nth-child(2) {
	background: #c25234;
}
article .article-info-social li:nth-child(3) {
	background: #00aced;
}
article .article-info-social li:nth-child(4) {
	background: #48729e;
}
article .article-info-social li:last-child {
	background: #3f729b;
}

	.fixed aside h3.quest,
	.fixed aside h3.alert{
		position: fixed;
		top: 1px;
		z-index: 101;
	}


}





/*========================SMARTPHONES==================*/

@media only screen and (max-width:600px) {
	main section, main aside {
    	float: none; 
    	width: 100%;
    }

	main {
		width: 100%;
		margin:0;
	}

	main aside {
		padding: 0;
	}	

	.top-logo{
		padding: 0;
		padding-top: 10px;
		height: 60px;

	}

	.top-logo img{
		width:80%;
	}

	.menu-block{
		height: 34px;
		margin: 0;
		border: none;
	}

	menu .menu-list {
		display: none;
		position: absolute;
		background: #DFEEFB;
		width: 100%;
		z-index: 399;
		top: 94px;
	}

	menu .menu-list li{
		width: 90%;
  background: #DFEEFB;
  border-bottom: 1px solid white;
  z-index: 400;
	}

	menu .menu-list li:hover{
		background: rgba(255,255,255,0.25);
	}

	menu .menu-list li:after{
		content: '';

	}

	menu .menu-list li a{
		color: #6b9ad0;
		
	}

	menu .menu-list a:hover{
		background: inherit;
	}

	menu .full-size-logo img{
		height:30px;
	}

	menu .menu-icon{
		display: inline-block;	
		position: absolute;
	    height: 30px;
        width: 30px;
        right: 2px;
        top: 62px;
		font-size: 17px;
		line-height: 30px;
		color: #9cbce1;
		cursor: pointer;
		/*transition: all .4s ease;*/

	}
	menu .menu-icon:hover {
		background: rgba(255,255,255,0.45);
		color: #84a0bf;
	}

	aside h3.quest,
	aside h3.alert{
		top:61px;
	}

	aside h3.alert{
		left:-300px;
	}

	aside h3.alert:before{
		height: 30px;
        width: 30px;
        line-height: 30px;	
		top:1px;
		left:334px;
	}

	aside h3.quest:before{
		height: 30px;
        width: 30px;
        line-height: 30px;	
		top:1px;
		left:1px;
	}

	aside h3.quest span{
		transform: none;
		background-color: initial;
        color: white;
        top: 158px;
       left: 16px;
        z-index: 51;
	}
	aside h3.alert span{
		transform: none;
		background-color: initial;
        color: white;
        top: 158px;
        right: 12px;
        z-index: 51;
	}

	aside h3.alert span:before,
	aside h3.alert span:after,aside h3.quest span:before,aside h3.quest span:after{
		border: none;
		height: 0;
		width: 0;
	}

	aside .about-some-shit p{
		position: absolute;
		display: none;
		width: 100%;
		z-index: 50;
        margin: 0;
        top:94px;
		height: auto;
		background: #DFEEFB;
		margin: 0;
		padding: 20px;
		padding-bottom: 30px;
	}

	aside .tag-cloud-wrapper{
		margin: 0;
	}

	aside .tag-cloud-wrapper .tag-cloud-logo{
		position: absolute;
		display: inline-block;
		height: 30px;
        width: 30px;
        line-height: 30px;	
		top:62px;
		left:66px;
		text-align: center;
		color: #6b9ad0;
		cursor: pointer;
		background: rgba(255,255,255,0.25);
		/*transition: all .4s ease;*/
	}	

	aside .tag-cloud-wrapper .tag-cloud-logo:hover{
		background: rgba(255,255,255,0.45);
	}

	aside ul.tag-cloud{
		display: none;
		position: absolute;
		background: #DFEEFB;
		z-index: 50;
		top:94px;
		padding: 20px;
	}	

	article {
		padding: 20px 15px;
		position: relative;
	}

	article h3 {
		background: #f4f5f6;
		margin: 0;
		line-height: 26px;
		padding: 13px 26px;
		text-align: center;
	}

	article .article-info-social{
		position: absolute;
		right: auto;
		top: inherit;
		bottom: -20px;
		width: auto;
		text-align: right;
		padding: 0;
    }

	article .article-info-social li {
		display: inline-block;
		border-radius: 4px;
	    height:24px;
	    line-height: 24px;
	    padding-right: ;
	}

	.fixed menu .menu-icon,
	.fixed aside .tag-cloud-logo{
		position: fixed;
		top:2px;
		z-index: 500;
	}

	.fixed aside .about-some-shit p{
		position: fixed;
		top:30px;
	}

	.fixed aside ul.tag-cloud{
		position: fixed;
		top:34px;
		z-index: 100;
	}

	.fixed .menu-block .menu-list{
		top:34px;
	}

	.fixed .menu-block .full-size-logo{
		display: block;
	}
	.fixed .top-logo{
		padding-bottom: 89px;
	}	
}





