aside {
	position: absolute;
	float: left;
	left: -320px;
	width:320px;
	height:100%;
	background-color: white;
	border: 1px solid black;
	z-index: 1000;
}

aside h3{
	font-size: 17px;
	font-style: bold;
	margin-left: 10px;
}

aside .collapse-button{
	position: relative;
}
aside .collapse-button span{
	position: absolute;
	cursor: pointer;
	display: block;
	background: #b3b3b3;
	height: 20px;
	right: 0;

}

aside .collapse-button span:after{
	content: '';
	position: absolute;
	cursor: pointer;
	width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 20px;
    border-color: transparent transparent transparent #b3b3b3;
}

aside .form-wrapper{
	

}

aside label{
	display: block;	
	margin: 17px 10px;
}

.form-submit-wrapper{
	margin: 0 auto;
}

.form-index input{
	width: 60px;

}

.form-title input{
	margin-left:24px;
}
.form-content textarea{
	display: block;
	width:288px;
	height: 300px;
	margin: 0 auto;
}

aside input{
	margin-left:10px;
}

section {
	width:100%;
	float: right;
}

.content-wrapper{
	position: relative;
}

article{
	position: absolute;
	width:80%;
  margin: 36px;
  text-align: justify;
  border: 1px solid black;
  background: white;
}

.tab-names{
	position: absolute;

}

.tab-names li{
	position: relative;
	display: inline-block;
	height: 19px;
    width: 59px;
    overflow: hidden;
}

.tab-names .title{
	position: absolute;
	top:-1px;
	/*background: #fff;*/
    border-radius: 4px;
    border:1px solid #000;
    margin:0;
    /*box-shadow: 0 0 2px  #fff inset;*/
    height: 19px;
    width: 55px;
    -webkit-transform: perspective(100px) rotateX(30deg);
    -moz-transform: perspective(100px) rotateX(30deg);
}

 .active{
	background: lightgray;
	opacity: 0.25;
}

.tab-names h4{
	margin:0; 
	padding-left: 5px;
}

article .content{
	border: 1px solid black;
	padding: 10px;
	margin: 10px;
}

.content-wrapper #1 .content{
	background: red;
}

article.hidden{
	display: none;
}